*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary:  rgba(0, 0, 0, 0.856);
    --secondary: rgb(47, 49, 58);
    --background: #3794A4;
    --white: rgba(255, 255, 255, 0.829);
}

html{
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1.6;
}


a{
    text-decoration: none;
    color: black;
}


.container{
    padding: 5px;
}

/* td:hover{
    border-bottom: 1px dotted black;
} */

.cover2{
    background-image: url(../images/feedbac.jpg);
    background-position: center;
    background-size: cover;
    filter: brightness(0.6);
    height: 90vh;
    z-index: -1;
  }
 h3{
            text-align: center;
            padding: 20px;
            text-transform: uppercase;
            /* color: rgba(238, 236, 236, 0.993); */
  }

.testimonies{
            padding: 5px;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(3,1fr);
            margin-top: -550px;
            z-index: 2;   
  }

.testimony{
            /* position: absolute; */
            /* background-color: var(--background); */
            /* padding: 15px 15px 30px;
            margin: 0 15px 100px;  
            position: relative;
            color: var(--white);
            border-radius: 3px;
            height: 50vh; */
            /* margin-top: 168px; */
            /* font-family: 'Lucida Sans'; */
} 

.testimonies span{
            background-color: white;
            color: black;
            padding: 2px 10px;
            border-radius: 20px;
}

.testImg{
            position: relative;
            margin-top: -50px;
            margin-left: 35%;
            width: 20%;
            border-radius: 50%;
            /* border: 1px solid white; */
  }

.name{
            position: absolute;
            margin-left: 11%;
            color: white;
  }

blockquote{
            width: 90%;
            font-size: 16px;
            border: 1px solid var(--white);
            padding: 15px 15px 30px;
            margin: 10px 15px 0px;  
            position: relative;
            color: var(--white);
            border-radius: 3px;
            height: 50vh;
}

q{
            font-size: 19px;  
}
.foods{
            padding: 20px;
}

.meals{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
    padding: 20px;

}

.more{
    background-color: #E79D41;
    border-radius: 20px;
    padding: 1px 10px;
    width: 60%;
    margin-left: 25%;
    text-align: center;
    cursor: pointer;
}
.more:hover{
    background-color: var(--background);
}
.more a{
    color: white;
}
.food{
    /* padding: 20px; */
    cursor: pointer;
    height: 35vh;
    border-radius: 3px;
    /* box-shadow:  rgba(0,0,0,0.2) 0 4px 8px 0,  rgba(0,0,0,0.19) 10px 6px 20px 0; */
    margin: 10px 0; 
    width: 100%;
}
.foodin{
    padding: 20px;
    height: 45vh;
    width: 90%;
    border-radius: 0;
   }

.foodin:hover{
    border: 1px solid black;
    box-shadow:  rgba(58, 57, 57, 0.24) 0 4px 8px 0,  rgba(88, 88, 88, 0.103) 10px 6px 20px 0;

}


#food1{
    background-image: url(../images/beef2.jpg);
    background-position: center;
    background-size: cover;
}
#food2{
    background-image: url(../images/beef1.jpg);
    background-position: center;
    background-size: cover;
}
#food3{
    background-image: url(../images/steak.jpg);
    background-position: center;
    background-size: cover;
}
#food4{
    background-image: url(../images/chicken.jpg);
    background-position: center;
    background-size: cover;
}
#food5{
    background-image: url(../images/hotdog.jpg);
    background-position: center;
    background-size: 80%;
}
#food6{
    background-image: url(../images/hambuger.jpg);
    background-position: top;
    background-size: 110%;
}
#food7{
    background-image: url(../images/spanishTacos.jpg);
    background-position: top;
    background-size: 115%;
}
#food8{
    background-image: url(../images/pizza.jpg);
    background-position: center;
    background-size: cover;
}

#food9{
    background-image: url(../images/bread.jpg);
    background-position: top;
    background-size: 100%;
}
#food10{
    background-image: url(../images/apetics.jpg);
    background-position: center;
    background-size: cover;
}
#food11{
    background-image: url(../images/cupcakes.jpg);
    background-position: top;
    background-size: 105%;
}
#food12{
    background-image: url(../images/weddingcake.jpg);
    background-position: center;
    background-size: cover;
}


.info{
    position: relative;
    text-align: justify;
    top: 63%;
    height: 86px;
    border-radius: 0;
    background-color: white;
    width: 100%;
    padding-top: 10px;
}


.info b{
    background-color: limegreen;
    color: white;
    padding: 3px;
    font-size: 14px;
}


.info i{
    float: right;
    margin-right: 10px;
    font-size: 16px;
    padding: 3px;
    color: var(--secondary);
}
.info p{
    font-size: 16px;
}

@media (min-width: 1420px){
    .info{
        top: 69.5%;
    }

}


@media (max-width: 850px){
    .meals{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2,1fr);
        padding: 10px;
    
    }
    .testimonies{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2,1fr);
        padding: 5px;
        margin-top: -750px; 
    }
    .cover2{
        height: 120vh;  
      }
    
    blockquote{
        width: 100%;
        font-size: 14px;
        padding: 10px;
        margin:  7px;  
        height: 42vh;
    }


}

@media (max-width: 450px){
    .meals{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(1,1fr);
        padding: 10px;
    
    }
    .cover2{
        height: 250vh;  
      }

    .testimonies{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1,1fr);
        padding: 5px;
        margin-top: -1370px;
        width: 90%; 
    }
    blockquote{
        width: 100%;
        font-size: 14px;
        padding: 10px;
        margin:  10px;  
        height: 65vh;
    }


}








